<html>
	<head>
		<title>Chuck's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Chuck's blog</a></h1>
		</div>

		<div>
			<p>published: 14.06.2014, 12:14</p>
			<h2><a href="">My first post</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eveniet ipsa voluptatem temporibus porro modi neque, expedita, corporis dolorem asperiores hic blanditiis doloribus in, ratione fugit inventore nam sit. Nulla.</p>
		</div>

		<div>
			<p>published: 14.06.2014, 12:15</p>
			<h2><a href="">My second post</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dolor quibusdam consequatur illum consequuntur nesciunt, dolores, temporibus illo alias aliquam laudantium quaerat possimus optio eos! Voluptatem repellat sunt esse vitae!</p>
		</div>
	</body>
</html>